/* For form implement */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    font-family:  sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 0.28fr;
    overflow: scroll;
    overflow-x: hidden;
    grid-template-rows: 0.136fr 1fr 0.1fr;
    grid-template-areas: 
    "header  header"
    "main    sidebar"
    "footer  footer";
}




/* Header Block  */
.Header{
    grid-area: header;
    color: #FFFFFF;
    padding: 0px 12px;
    background-color: #293a41;
}
.sub-header{
    height: 100%;
    padding: 10px 10px 0;
    display: flex;
    font-size: 16px;  
}
.pic-logo{
    width: 83.18px;
    height: 60px;
    cursor: pointer;
}
.left-header{
    width: 50%;
    display: flex;
}
.right-header{
    display: flex;
    width: 50%;
    letter-spacing: 1.2px;
    justify-content: flex-end;
    color: #FFFFFF;
}
a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
}
a:hover{
    text-decoration:underline;
}
.link1{
    margin: 0px 8px;
    height: 100%;
    align-items: center;
    display: flex;
}
.link2{
    margin: 0px 8px;
    height: 100%;
    align-items: center;
    display: flex;
}






/* For sidebar */
.sidebar{
    grid-area: sidebar;
    padding: 15px;
    display: flex;
    flex-direction: column;
    color: #212529;
    background-color: #FFFFFF;
}

.sidebar-content{
    position: sticky;
}
/* .content1{

} */
h4{
    width: 277.24px;
    height: 24px;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 550;
}
.content2{
    display: flex;
    flex-direction: column;
    
    padding: 16px;
    margin: 32px 0px 0px;
    justify-content: center;
    align-items: center;
}
.fa-magnifying-glass{
    width: 16px;
    height: 16.8px;
}
.icon-search{
    width: 196.58px;
    text-align: center;
    margin: 16px;
    height: 24px;
}
.col1{
    width: 228.58px;
    height: 24px;
    text-align: center;
}
.status{
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}
.sub-status{
    font-size: 14px;
    text-align: center;
}
.col2{
    margin: 16px 0px 0px;
    font-size: 16px;
    width: 228.58px;
    height: 21px;
    font-size: 14px;
}
.sub-content2{
    padding: 16px;
    margin: 32px 0px 0px;
}









/* For Main */
.Main{
    grid-area: main;
    background-color: rgb(245, 244, 244);

}
.navigation{
    background-color: #ada6a6;
    width: 100%;
    display: flex;
    padding: 16px 0 80px;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 16px;
    height: 151.2px;
}
.sub-nav1{

}
.sub-nav2-2{
    display: flex;
}








/* For footer */
footer{
    grid-area: footer;
    background-color: #293a41;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-footer{
    display: flex;
    grid-area: 10px;
    margin-left: 13px;
}
.right-footer{
    margin-right: 35px;
}